/aws-re-invent-2023-how-lockheed-martin-builds-software-faster-powered-by-devsecops-dop323-sub.txt
/aws-re-invent-2023-how-lockheed-martin-builds-software-faster-powered-by-devsecops-dop323abstract.txt